<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HG CLH</title>
    <link rel="stylesheet" href="assets/styles.css" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  </head>
  <body>
    <canvas id="game-canvas"></canvas>
    <img id="test-pattern" src="assets/clh-thumb.png" />
    <div id="game">
      <div id="intro" v-bind:class="{ show: state == 'loading' }">
        <img class="logo-loading" src="./assets/images/hackersgen-logo.png" />
        <img class="logo-loading" src="./assets/clh-logo-white.svg" />
        <span>
          <span v-if="isMobile">Apologies, mobile is not supported :(</span>
          <span v-else>DOWNLOADING</span>
          <span v-if="!isMobile" class="cursor">█</span>
        </span>
      </div>
      <div id="title-screen" v-bind:class="{ show: showTitle }">
        <img class="logo-title" src="./assets/images/hackersgen-logo.png" />
        <img class="logo-title" src="./assets/clh-logo-white.svg" />
        <p class="text-title">
          Test your command line skills!<br />
          You have {{parseInt(gameDuration/1000)}} seconds to type commands
          from:
        </p>
        <p id="langs">
          HTML &middot; CSS &middot; JS &middot; BASH &middot; PYTHON &middot;
          SQL &middot; GO
        </p>
        <p class="text-title">
          Type "PLAY" to begin or "LEADERBOARD" to see your highscores.
        </p>
        <p class="credits">
          Forked and customized with ❤️ by the
          <a href="https://github.com/hackersgen">HackersGen Team</a><br />
          from the original
          <a href="https://github.com/CommandLineHeroes/clh-bash">
            RedHat game
          </a>
        </p>
        <p class="credits">
          Soundtrack:
          <a href="https://waveshaper1.bandcamp.com/track/66-mhz">"66 MHZ"</a>
          by <a href="https://waveshaper1.bandcamp.com/">Waveshaper</a>
        </p>
      </div>
      <textarea
        v-model="cmd"
        v-on:keydown="handleKeypress"
        v-on:keyup="handleKeyup"
        v-on:paste="handlePaste"
        ref="cmd"
        spellcheck="false"
        type="text"
        name="cmd"
        id="cmd"
      >
      </textarea>
    </div>
    <script src="node_modules/howler/dist/howler.min.js"></script>
    <script src="node_modules/ismobilejs/dist/isMobile.min.js"></script>
    <script src="node_modules/three/build/three.min.js"></script>
    <script src="node_modules/three/examples/js/libs/stats.min.js"></script>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="node_modules/@tweenjs/tween.js/src/Tween.js"></script>
    <script src="env.js"></script>
    <script type="module" src="src/main.js"></script>
  </body>
</html>
